@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css");

/*Essa formatação serve para formatar todo o conteúdo, como se estivesse deixando ele puro sem nenhuma formatação, sendo assim melhorando a forma de editar e estilizar os componentes*/
* {
    padding: 0;
    margin: 0;
    font-family: 'Questrial';
}

.foto-perfil{
    width: 20vh;
    height: 25vh;
    border-radius: 5%;
    margin: 50px;
}

.card-img-top {
    height: 225px;
    width: 100%;
    display: block;
}

.vertical-center {
    min-height: 80vh;
    display: flex;
    align-items: center;
}

.sessao-header{
    display: flex;
    align-items: center;
    justify-content: center;
}

.sessao-header h1{
    font-size: 3rem;
    margin-top: 1.5rem;
}

.jumbotron {
    background-image: url("https://images.pexels.com/photos/5483077/pexels-photo-5483077.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    background-size: cover;
    color: white;
    text-shadow: 1 1 1 ;
    border-radius: 0 0 0 0 !important;
}

.sec-jumbo p{
    color: #fff;
    font-size: 20px;
    text-shadow: 2px 2px 5px black;
}
